---
import DinosaurService from '../lib/dinosaur-service';
import '../styles/index.css';

// Get all dinosaurs with slugs for linking
const dinosaursWithSlugs = DinosaurService.getDinosaursWithSlugs();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Dinosaur Directory</title>
		<link rel="stylesheet" href="https://demo-styles.deno.deno.net/styles.css">
	</head>
	<body class="index">
		<h1>🦕 Dinosaur bbl Directory</h1>
		<p>Click on any dinosaur name to learn more about it!</p>
		
		<div class="dinosaur-list">
			{dinosaursWithSlugs.map((dinosaur) => (
				<a href={`/dinosaur/${dinosaur.slug}`} class="btn-primary">
					{dinosaur.name}
				</a>
			))}
		</div>
	</body>
</html>
